/****** Fake Names p13 qeury data prep review  

******/
SELECT [RowNumber]
      ,[Number]
      ,[Gender]
      ,[NameSet]
      ,[Title]
      ,[GivenName]
      ,[MiddleInitial]
      ,[Surname]
      ,[AmountPaid]
      ,[StreetAddress]
      ,[City]
      ,[State]
      ,[StateFull]
      ,[ZipCode]
      ,[Country]
      ,[CountryFull]
      ,[Feedback]
      ,[EmailAddress]
      ,[Username]
      ,[Password]
      ,[BrowserUserAgent]
      ,[TelephoneNumber]
      ,[TelephoneCountryCode]
      ,[MothersMaiden]
      ,[Birthday]
      ,[TropicalZodiac]
      ,[CCType]
      ,[CCNumber]
      ,[CVV2]
      ,[CCExpires]
      ,[NationalID]
      ,[UPS]
      ,[WesternUnionMTCN]
      ,[MoneyGramMTCN]
      ,[Color]
      ,[Occupation]
      ,[Company]
      ,[Vehicle]
      ,[Domain]
      ,[BloodType]
      ,[Pounds]
      ,[Kilograms]
      ,[FeetInches]
      ,[Centimeters]
      ,[GUID]
      ,[Latitude]
      ,[Longitude]
      ,[Column 46]
  FROM [kirillclassSQL].[dbo].[RAW_FakeNames_20190328_0647]
  -- WE'RE TESTING THINGS THAT MAY HAVE SHIFTED RIGHT OR LEFT
  -- we 'figure' this out by knowing what data is supposed to be there
  WHERE [Column 46] NOT LIKE ''
  OR [Longitude] NOT LIKE '%.%'
  -- TWO OPTIONS TO FIX 1. DEAL WITH IN SSIS OR 2. DEAL WITH HERE IN SQL
  -- KIRILLS OPTION IS 1. IN THE COURSE